body {
    background: linear-gradient(to bottom, #517751, #3e5738, #23411f);
    background-attachment: fixed;
}
/*podtrzeni tlacitka prihlaseni v navigaci*/
.prihlaseni:hover::after {
    width: 100%;
}
.prihlaseni::after {
    content: '';
    width: 20%;
    height: 2px;
    display: block;
    background-color: indianred;
    border-radius: 5px;
    transition: 0.3s ease;
}

/*uvodni obrazovka na starankach*/
.intro {
    height: 100vh;
}
.intro_registration {
    height: auto;
}
.intro img, .intro_registration img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
.intro_photo_prekryti {
    background-color: rgba(0, 0, 0, 0.29);
    height: 100%;
    z-index: 1;
}

/*paticka*/
.footer {
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/*navigacni lista*/
.navbar {
    background-color: black;
    height: 15vh;
}

/*pozadi formularu*/
.login_form_background {
    background-color: rgba(25, 58, 25, 0.63);
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px 10px;
}
.registration_form_background {
    background-color: rgba(205, 92, 92, 0.52);
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px 10px;
    backdrop-filter: blur(10px);
    margin: 20vh 0!important;
    min-height: 45vh;

}
.new_event_background {
    background-color: rgba(58, 63, 53, 0.3);
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px 10px;
    backdrop-filter: blur(10px);
}

/*podtrzeni nadpisu ve formularich*/
.login_headline::after {
    content: '';
    top: 0;
    left: 0;
    height: 3px;
    width: 70%;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    display: block;
}
.registration_headline::after, .new_event_headline::after {
    content: '';
    top: 0;
    left: 0;
    height: 3px;
    width: 60%;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    display: block;
}


/* Stranka Clenove */
.prehled_clenu {
    margin-top: 15vh;
}
.prehled_clenu table {
    margin: auto;
}



/* ZÁPIS NA TERMÍNY */
.zapisIntro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.zapisIntro h2 {
    margin-bottom: 150px;
    font-size: 3rem;
}
.zapisIntro  i {
    position: absolute;
    margin-top: 30%;
    color: white;
    font-size: 2.5rem;
}
.akceBox {
    width: 100vw;
    background: linear-gradient(to right, #d7a5a5, #c58080, indianred);;
    margin: auto;
    display: flex;
    justify-content: space-around;
    row-gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}
.akceBox__nadpis::after {
    content: "";
    display: block;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    width: 25%;
    position: absolute;
}
.akceBox__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: green;
    width: 30vw;
    min-width: 400px;
    margin: 0 10px;
    color: white;
    box-shadow: 2px 2px 10px black;
}
.akceBox__box a {
    text-decoration: none;
    color: inherit;
    transition: 200ms ease all;
}
.akceBox__box a:hover {
    color: #c4c4c4;
}
.akceBox__box__text {
    margin: 20px;
    width: 80%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.akceBox__box__text__nadpis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.akceBox__box__text__nadpis h2 {
    text-align: left;
    width: 100%;
}
.akceBox__box__text__nadpis svg {
    font-size: 2rem;
    margin-right: 10px;
}
.akceBox__box__paticka {
    min-height: 100px;
    padding: 20px 40px;
    background-color: rgb(0, 97, 24);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.akceBox__box__paticka__potvrzeni__ne {
    margin-left: 10px;
    background-color: rgb(255, 3, 3);
}
.akceBox__box__paticka__potvrzeni__ano {
    background-color: rgb(0, 255, 0);
}
.akceBox__box__paticka__potvrzeni div button svg {
    transition: 300ms ease all;
}
.akceBox__box__paticka__potvrzeni div button {
    background: none;
    border: none;
    font-size: 25px;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.akceBox__box__paticka__potvrzeni div:hover button svg {
    font-size: 2.5rem;
}
.akceBox__box__paticka__potvrzeni div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    transition: 300ms ease-in-out all;
}
.akceBox__box__paticka__potvrzeni{
    display: flex;
}
.akceBox__box__paticka p {
    color: rgb(193, 193, 193);
}









@media screen and (max-width: 991px) {
    .sidebar {
        background-color: rgba(34, 54, 29, 0.2);
        backdrop-filter: blur(10px);
        width: 80%!important;
    }
    .registration_form_background {
        margin-bottom: 25vh;
    }
    .footer {
        height: 5vh;
    }
    .intro, .intro img {
        height: 95vh;
    }

}

@media screen and (max-width: 576px){
    .file_upload {
        font-size: 0.8rem;
    }
}